<!DOCTYPE html>
<html lang="en" ng-app="myRoster">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">

</head>

<body>
    <div class="container" ng-controller="RosterController">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="panel panel-heading">
                    <h1 class="title panel panel-title panel-primary">NFL ROSTER</h1>
                </div>
                <div class="player-card" data-ng-repeat="player in players">
                    <div class="panel panel-heading panel-primary">
                        <h3 class="title panel panel-title panel-primary">Player</h3>
                        
                    </div>
                    <img class="player" src="http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/" />
                    <p class="name">{{player.name}}</p>
                    <p class="number">{{player.number}}</p>
                    <p class="position">{{player.position}}</p>
                </div>
                <div class="player-card">
                    <div class="panel panel-heading panel-primary">
                        <h3 class="title panel panel-title panel-primary">Player</h3>
                    </div>
                    <img class="player" src="http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/" />
                    <p class="name">Player Name</p>
                    <p class="number">Player Number</p>
                    <p class ="position">Player Position</p>
                </div>
                <div class="player-card">
                    <div class="panel panel-heading panel-primary">
                        <h3 class="title panel panel-title panel-primary">Player</h3>
                    </div>
                    <img class="player" src="http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/" />
                    <p class="name">Player Name</p>
                    <p class="number">Player Number</p>
                    <p class ="position">Player Position</p>
                </div>
                <div class="player-card">
                    <div class="panel panel-heading panel-primary">
                        <h3 class="title panel panel-title panel-primary">Player</h3>
                    </div>
                    <img class="player" src="http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/" />
                    <p class="name">Player Name</p>
                    <p class="number">Player Number</p>
                    <p class ="position">Player Position</p>
                </div>
                <div class="player-card">
                    <div class="panel panel-heading panel-primary">
                        <h3 class="title panel panel-title panel-primary">Player</h3>
                    </div>
                    <img class="player" src="http://s.nflcdn.com/static/content/public/image/fantasy/transparent/200x200/" />
                    <p class="name">Player Name</p>
                    <p class="number">Player Number</p>
                    <p class ="position">Player Position</p>
                </div>

            </div>
        </div>
        <div class=" createNew panel panel-primary">
            <div class="newPlayer panel-body">
                <form ng-submit="newPlayer()">
                    <fieldset class="form-group">
                        <label for="playerName">Player Name</label>
                        <input type="text" class="form-control" id="playerName" placeholder="Enter Player Name" ng-model= "playerName">
                       
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="playerNumber">Player Number</label>
                        <input type="number" class="form-control" id="playerNumber" placeholder="Enter Player Number" ng-model= "playerNumber">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="playerPostion">Player Position</label>
                        <input type="text" class="form-control" id="playerPostion" placeholder="Enter Player Position" ng-model= "playerPosition">
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>










        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controller/controller.js"></script>
</body>

</html>